<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
    <title>Dashboard</title>
</head>
<body class="dashboard">
    <div class="sidebar" id="sidebar">
        <!-- Sidebar content goes here -->
    </div>
    <div class="main-content">
        <header>
            <div class="header-left">
                <button id="toggleSidebar" class="toggle-sidebar-btn">&#9776;</button>
                <h1>Welcome, {{ session['user_first_name'] }}!</h1>
            </div>
        </header>
        <div class="appointments-header">
            <h2>Appointments</h2>
        </div>
        <div id="calendar"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
