<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intraoral Examination</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="intraoral-page">
    <div class="sidebar-tab" id="sidebarTab">☰</div>
    <div id="sidebar" class="sidebar">
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('users') }}">Users</a></li>
            <li><a href="#">Treatment</a></li>
            <li class="dropdown">
                <a href="#">Records</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('patients') }}">Patient Records</a>
                    <a href="{{ url_for('appointment_records') }}">Appointment Records</a>
                    <a href="#">Treatment Records</a>
                </div>
            </li>
            <li><a href="#">Maintenance</a></li>
            <li><a href="{{ url_for('inventory') }}">Inventory</a></li>
            <li><a href="{{ url_for('reports') }}">Reports</a></li>
            <li><a href="#">Payments</a></li>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <li><a href="#">Help</a></li>
            <li><a href="#">About</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="container">
            <div class="tab-container">
                <button class="tab active" onclick="openTab(event, 'enter-diagnosis')">Enter diagnosis</button>
                <button class="tab" onclick="openTab(event, 'overview')">Overview</button>
                <button class="tab" onclick="openTab(event, 'medical-history')">Medical History</button>
                <button class="tab" onclick="openTab(event, 'consent-form')">Consent Form</button>
            </div>

            <div id="enter-diagnosis" class="tab-content">
                <!-- Enter diagnosis content -->
                <div class="exam-form">
                    <div class="teeth-diagram">
                        <div class="teeth-section">
                            <div class="teeth-header">Upper Temporary Teeth</div>
                            <div class="teeth-row">
                                <!-- Upper temporary teeth row -->
                                {% for number in [55, 54, 53, 52, 51, 61, 62, 63, 64, 65] %}
                                <div class="tooth-container">
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth">
                                        <svg viewBox="0 0 100 100" class="interactive-circle">
                                            <path class="outerCircle" d="M50 50 L50 0 A50 50 0 0 1 100 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L100 50 A50 50 0 0 1 50 100 z"></path>
                                            <path class="outerCircle" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
                                            <circle class="outerCircle" cx="50" cy="50" r="20"></circle>
                                            <text x="50" y="-20" text-anchor="middle" dominant-baseline="middle">{{ number }}</text>
                                        </svg>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="teeth-section">
                            <div class="teeth-header">Permanent Teeth</div>
                            <div class="teeth-row">
                                <!-- Permanent teeth upper row -->
                                {% for number in [18, 17, 16, 15, 14, 13, 12, 11, 21, 22, 23, 24, 25, 26, 27, 28] %}
                                <div class="tooth-container">
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth">
                                        <svg viewBox="0 0 100 100" class="interactive-circle">
                                            <path class="outerCircle" d="M50 50 L50 0 A50 50 0 0 1 100 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L100 50 A50 50 0 0 1 50 100 z"></path>
                                            <path class="outerCircle" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
                                            <circle class="outerCircle" cx="50" cy="50" r="20"></circle>
                                            <text x="50" y="-20" text-anchor="middle" dominant-baseline="middle">{{ number }}</text>
                                        </svg>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="teeth-row">
                                <!-- Permanent teeth lower row -->
                                {% for number in [48, 47, 46, 45, 44, 43, 42, 41, 31, 32, 33, 34, 35, 36, 37, 38] %}
                                <div class="tooth-container">
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth">
                                        <svg viewBox="0 0 100 100" class="interactive-circle">
                                            <path class="outerCircle" d="M50 50 L50 0 A50 50 0 0 1 100 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L100 50 A50 50 0 0 1 50 100 z"></path>
                                            <path class="outerCircle" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
                                            <circle class="outerCircle" cx="50" cy="50" r="20"></circle>
                                            <text x="50" y="-20" text-anchor="middle" dominant-baseline="middle">{{ number }}</text>
                                        </svg>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="teeth-section">
                            <div class="teeth-header">Lower Temporary Teeth</div>
                            <div class="teeth-row">
                                <!-- Lower temporary teeth row -->
                                {% for number in [85, 84, 83, 82, 81, 71, 72, 73, 74, 75] %}
                                <div class="tooth-container">
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth">
                                        <svg viewBox="0 0 100 100" class="interactive-circle">
                                            <path class="outerCircle" d="M50 50 L50 0 A50 50 0 0 1 100 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L100 50 A50 50 0 0 1 50 100 z"></path>
                                            <path class="outerCircle" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
                                            <circle class="outerCircle" cx="50" cy="50" r="20"></circle>
                                            <text x="50" y="-20" text-anchor="middle" dominant-baseline="middle">{{ number }}</text>
                                        </svg>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="exam-details">
                        <h3>Enter Diagnosis</h3>
                        <form>
                            <div class="form-group">
                                <label>Periodontal Screening</label>
                                <input type="checkbox" class="diagnosis-checkbox" id="G" data-code="G">
                                <label for="G"> Gingivitis </label>
                                <input type="checkbox" class="diagnosis-checkbox" id="EP" data-code="EP">
                                <label for="EP"> Early Periodontitis </label>
                                <input type="checkbox" class="diagnosis-checkbox" id="MP" data-code="MP">
                                <label for="MP"> Moderate Periodontitis </label>
                                <input type="checkbox" class="diagnosis-checkbox" id="AP" data-code="AP">
                                <label for="AP"> Advanced Periodontitis </label>
                            </div>
                            <div class="form-group">
                                <label>Occlusion</label>
                                <select>
                                    <option>Class I</option>
                                    <option>Class II</option>
                                    <option>Class III</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Appliances</label>
                                <input type="checkbox" class="diagnosis-checkbox" data-code="O"> Orthodontic
                                <input type="checkbox" class="diagnosis-checkbox" data-code="S"> Stayplate
                                <input type="checkbox" class="diagnosis-checkbox" data-code="OT"> Others <input type="text">
                            </div>
                            <div class="form-group">
                                <label>TMD</label>
                                <input type="checkbox" class="diagnosis-checkbox" data-code="C"> Clenching
                                <input type="checkbox" class="diagnosis-checkbox" data-code="CL"> Clicking
                                <input type="checkbox" class="diagnosis-checkbox" data-code="T"> Trismus
                                <input type="checkbox" class="diagnosis-checkbox" data-code="MS"> Muscle spasm
                            </div>
                            <div class="form-group">
                                <label>X-ray Taken</label>
                                <input type="checkbox" class="diagnosis-checkbox" data-code="P"> Panoramic
                                <input type="checkbox" class="diagnosis-checkbox" data-code="C"> Cephalometric
                                <input type="checkbox" class="diagnosis-checkbox" data-code="PT"> Periapical Tth. No. <input type="text">
                                <input type="checkbox" class="diagnosis-checkbox" data-code="O"> Occlusal <input type="text">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="overview" class="tab-content" style="display:none;">
                <!-- Overview content -->
                <div class="exam-form">
                    <div class="teeth-diagram">
                        <div class="teeth-section">
                            <div class="teeth-header">Upper Temporary Teeth</div>
                            <div class="teeth-row">
                                <!-- Upper temporary teeth row -->
                                {% for number in [55, 54, 53, 52, 51, 61, 62, 63, 64, 65] %}
                                <div class="tooth-container">
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth">
                                        <svg viewBox="0 0 100 100" class="interactive-circle">
                                            <path class="outerCircle" d="M50 50 L50 0 A50 50 0 0 1 100 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L100 50 A50 50 0 0 1 50 100 z"></path>
                                            <path class="outerCircle" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
                                            <circle class="outerCircle" cx="50" cy="50" r="20"></circle>
                                            <text x="50" y="-20" text-anchor="middle" dominant-baseline="middle">{{ number }}</text>
                                        </svg>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="teeth-section">
                            <div class="teeth-header">Permanent Teeth</div>
                            <div class="teeth-row">
                                <!-- Permanent teeth upper row -->
                                {% for number in [18, 17, 16, 15, 14, 13, 12, 11, 21, 22, 23, 24, 25, 26, 27, 28] %}
                                <div class="tooth-container">
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth">
                                        <svg viewBox="0 0 100 100" class="interactive-circle">
                                            <path class="outerCircle" d="M50 50 L50 0 A50 50 0 0 1 100 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L100 50 A50 50 0 0 1 50 100 z"></path>
                                            <path class="outerCircle" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
                                            <circle class="outerCircle" cx="50" cy="50" r="20"></circle>
                                            <text x="50" y="-20" text-anchor="middle" dominant-baseline="middle">{{ number }}</text>
                                        </svg>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="teeth-row">
                                <!-- Permanent teeth lower row -->
                                {% for number in [48, 47, 46, 45, 44, 43, 42, 41, 31, 32, 33, 34, 35, 36, 37, 38] %}
                                <div class="tooth-container">
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth">
                                        <svg viewBox="0 0 100 100" class="interactive-circle">
                                            <path class="outerCircle" d="M50 50 L50 0 A50 50 0 0 1 100 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L100 50 A50 50 0 0 1 50 100 z"></path>
                                            <path class="outerCircle" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
                                            <circle class="outerCircle" cx="50" cy="50" r="20"></circle>
                                            <text x="50" y="-20" text-anchor="middle" dominant-baseline="middle">{{ number }}</text>
                                        </svg>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="teeth-section">
                            <div class="teeth-header">Lower Temporary Teeth</div>
                            <div class="teeth-row">
                                <!-- Lower temporary teeth row -->
                                {% for number in [85, 84, 83, 82, 81, 71, 72, 73, 74, 75] %}
                                <div class="tooth-container">
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth">
                                        <svg viewBox="0 0 100 100" class="interactive-circle">
                                            <path class="outerCircle" d="M50 50 L50 0 A50 50 0 0 1 100 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L100 50 A50 50 0 0 1 50 100 z"></path>
                                            <path class="outerCircle" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
                                            <circle class="outerCircle" cx="50" cy="50" r="20"></circle>
                                            <text x="50" y="-20" text-anchor="middle" dominant-baseline="middle">{{ number }}</text>
                                        </svg>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                <div class="exam-details">
                    <h3>Consent Form</h3>
                    <form>
                        <div class="form-group">
                            <label>Patient's Signature</label>
                            <input type="text"><br>
                        </div>
                        <div class="form-group">
                            <label>Date</label>
                            <input type="date"><br>
                        </div>
                        <div class="form-group">
                            <label>Consent</label>
                            <textarea rows="5"></textarea><br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

            <div id="medical-history" class="tab-content" style="display:none;">
                <!-- Medical history content -->
                <div class="exam-form">
                    <div class="teeth-diagram">
                        <div class="teeth-section">
                            <div class="teeth-header">Upper Temporary Teeth</div>
                            <div class="teeth-row">
                                <!-- Upper temporary teeth row -->
                                {% for number in [55, 54, 53, 52, 51, 61, 62, 63, 64, 65] %}
                                <div class="tooth-container">
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth">
                                        <svg viewBox="0 0 100 100" class="interactive-circle">
                                            <path class="outerCircle" d="M50 50 L50 0 A50 50 0 0 1 100 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L100 50 A50 50 0 0 1 50 100 z"></path>
                                            <path class="outerCircle" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
                                            <circle class="outerCircle" cx="50" cy="50" r="20"></circle>
                                            <text x="50" y="-20" text-anchor="middle" dominant-baseline="middle">{{ number }}</text>
                                        </svg>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="teeth-section">
                            <div class="teeth-header">Permanent Teeth</div>
                            <div class="teeth-row">
                                <!-- Permanent teeth upper row -->
                                {% for number in [18, 17, 16, 15, 14, 13, 12, 11, 21, 22, 23, 24, 25, 26, 27, 28] %}
                                <div class="tooth-container">
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth">
                                        <svg viewBox="0 0 100 100" class="interactive-circle">
                                            <path class="outerCircle" d="M50 50 L50 0 A50 50 0 0 1 100 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L100 50 A50 50 0 0 1 50 100 z"></path>
                                            <path class="outerCircle" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
                                            <circle class="outerCircle" cx="50" cy="50" r="20"></circle>
                                            <text x="50" y="-20" text-anchor="middle" dominant-baseline="middle">{{ number }}</text>
                                        </svg>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="teeth-row">
                                <!-- Permanent teeth lower row -->
                                {% for number in [48, 47, 46, 45, 44, 43, 42, 41, 31, 32, 33, 34, 35, 36, 37, 38] %}
                                <div class="tooth-container">
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth">
                                        <svg viewBox="0 0 100 100" class="interactive-circle">
                                            <path class="outerCircle" d="M50 50 L50 0 A50 50 0 0 1 100 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L100 50 A50 50 0 0 1 50 100 z"></path>
                                            <path class="outerCircle" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
                                            <circle class="outerCircle" cx="50" cy="50" r="20"></circle>
                                            <text x="50" y="-20" text-anchor="middle" dominant-baseline="middle">{{ number }}</text>
                                        </svg>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="teeth-section">
                            <div class="teeth-header">Lower Temporary Teeth</div>
                            <div class="teeth-row">
                                <!-- Lower temporary teeth row -->
                                {% for number in [85, 84, 83, 82, 81, 71, 72, 73, 74, 75] %}
                                <div class="tooth-container">
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth">
                                        <svg viewBox="0 0 100 100" class="interactive-circle">
                                            <path class="outerCircle" d="M50 50 L50 0 A50 50 0 0 1 100 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L100 50 A50 50 0 0 1 50 100 z"></path>
                                            <path class="outerCircle" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
                                            <circle class="outerCircle" cx="50" cy="50" r="20"></circle>
                                            <text x="50" y="-20" text-anchor="middle" dominant-baseline="middle">{{ number }}</text>
                                        </svg>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                <div class="exam-details">
                    <h3>Medical History</h3>
                    <form>
                        <div class="form-group">
                            <label>Blood Type</label>
                            <input type="text"><br>
                        </div>
                        <div class="form-group">
                            <label>Blood Pressure</label>
                            <input type="text"><br>
                        </div>
                        <div class="form-group">
                            <label>Serious Illness/Surgical Operation</label>
                            <input type="text"><br>
                        </div>
                        <div class="form-group">
                            <label>Bleeding Time</label>
                            <input type="text"><br>
                        </div>
                        <div class="form-group">
                            <label>In good health</label>
                            <input type="checkbox"><br>
                        </div>
                        <div class="form-group">
                            <label>High blood pressure</label>
                            <input type="checkbox"><br>
                        </div>
                        <div class="form-group">
                            <label>Low blood pressure</label>
                            <input type="checkbox"><br>
                        </div>
                        <div class="form-group">
                            <label>Epilepsy/Convulsion</label>
                            <input type="checkbox"><br>
                        </div>
                        <div class="form-group">
                            <label>AIDS or HIV infection</label>
                            <input type="checkbox"><br>
                        </div>
                    </form>
                </div>
            </div>

            <div id="consent-form" class="tab-content" style="display:none;">
                <!-- Overview content -->
                <div class="exam-form">
                    <div class="teeth-diagram">
                        <div class="teeth-section">
                            <div class="teeth-header">Upper Temporary Teeth</div>
                            <div class="teeth-row">
                                <!-- Upper temporary teeth row -->
                                {% for number in [55, 54, 53, 52, 51, 61, 62, 63, 64, 65] %}
                                <div class="tooth-container">
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth">
                                        <svg viewBox="0 0 100 100" class="interactive-circle">
                                            <path class="outerCircle" d="M50 50 L50 0 A50 50 0 0 1 100 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L100 50 A50 50 0 0 1 50 100 z"></path>
                                            <path class="outerCircle" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
                                            <circle class="outerCircle" cx="50" cy="50" r="20"></circle>
                                            <text x="50" y="-20" text-anchor="middle" dominant-baseline="middle">{{ number }}</text>
                                        </svg>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="teeth-section">
                            <div class="teeth-header">Permanent Teeth</div>
                            <div class="teeth-row">
                                <!-- Permanent teeth upper row -->
                                {% for number in [18, 17, 16, 15, 14, 13, 12, 11, 21, 22, 23, 24, 25, 26, 27, 28] %}
                                <div class="tooth-container">
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth">
                                        <svg viewBox="0 0 100 100" class="interactive-circle">
                                            <path class="outerCircle" d="M50 50 L50 0 A50 50 0 0 1 100 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L100 50 A50 50 0 0 1 50 100 z"></path>
                                            <path class="outerCircle" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
                                            <circle class="outerCircle" cx="50" cy="50" r="20"></circle>
                                            <text x="50" y="-20" text-anchor="middle" dominant-baseline="middle">{{ number }}</text>
                                        </svg>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="teeth-row">
                                <!-- Permanent teeth lower row -->
                                {% for number in [48, 47, 46, 45, 44, 43, 42, 41, 31, 32, 33, 34, 35, 36, 37, 38] %}
                                <div class="tooth-container">
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth">
                                        <svg viewBox="0 0 100 100" class="interactive-circle">
                                            <path class="outerCircle" d="M50 50 L50 0 A50 50 0 0 1 100 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L100 50 A50 50 0 0 1 50 100 z"></path>
                                            <path class="outerCircle" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
                                            <circle class="outerCircle" cx="50" cy="50" r="20"></circle>
                                            <text x="50" y="-20" text-anchor="middle" dominant-baseline="middle">{{ number }}</text>
                                        </svg>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="teeth-section">
                            <div class="teeth-header">Lower Temporary Teeth</div>
                            <div class="teeth-row">
                                <!-- Lower temporary teeth row -->
                                {% for number in [85, 84, 83, 82, 81, 71, 72, 73, 74, 75] %}
                                <div class="tooth-container">
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth-box" onclick="openModal(this, {{ number }})"></div>
                                    <div class="tooth">
                                        <svg viewBox="0 0 100 100" class="interactive-circle">
                                            <path class="outerCircle" d="M50 50 L50 0 A50 50 0 0 1 100 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L100 50 A50 50 0 0 1 50 100 z"></path>
                                            <path class="outerCircle" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
                                            <path class="outerCircle" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
                                            <circle class="outerCircle" cx="50" cy="50" r="20"></circle>
                                            <text x="50" y="-20" text-anchor="middle" dominant-baseline="middle">{{ number }}</text>
                                        </svg>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                <div class="exam-details">
                    <h3>Consent Form</h3>
                    <form>
                        <div class="form-group">
                            <label>Patient's Signature</label>
                            <input type="text"><br>
                        </div>
                        <div class="form-group">
                            <label>Date</label>
                            <input type="date"><br>
                        </div>
                        <div class="form-group">
                            <label>Consent</label>
                            <textarea rows="5"></textarea><br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal for teeth conditions -->
    <div id="conditionModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Select Conditions</h2>
            <div class="legend">
                <div>
                    <h3>Conditions:</h3>
                    <label><input type="checkbox" class="condition-checkbox" data-code="Pt"> - Present Teeth</label><br>
                    <label><input type="checkbox" class="condition-checkbox" data-code="D"> D - Decayed (Caries indicated for filling)</label><br>
                    <label><input type="checkbox" class="condition-checkbox" data-code="M"> M - Missing due to caries</label><br>
                    <label><input type="checkbox" class="condition-checkbox" data-code="MO"> MO - Missing due to other causes</label><br>
                    <label><input type="checkbox" class="condition-checkbox" data-code="Sp"> Sp - Supernumerary Tooth</label><br>
                    <label><input type="checkbox" class="condition-checkbox" data-code="Rf"> Rf - Roof Fragment</label><br>
                    <label><input type="checkbox" class="condition-checkbox" data-code="Un"> Un - Unerupted</label><br>
                </div>
                <div>
                    <h3>Surgery:</h3>
                    <label><input type="checkbox" class="condition-checkbox" data-code="X"> X - Extraction due to caries</label><br>
                    <label><input type="checkbox" class="condition-checkbox" data-code="XO"> XO - Extraction due to other causes</label><br>
                </div>
                <div>
                    <h3>Restoration & Prosthetics</h3>
                    <label><input type="checkbox" class="condition-checkbox" data-code="Am"> Am - Amalgam Filling</label><br>
                    <label><input type="checkbox" class="condition-checkbox" data-code="Co"> Co - Composite Filling</label><br>
                    <label><input type="checkbox" class="condition-checkbox" data-code="JC"> JC - Jacket Crown</label><br>
                    <label><input type="checkbox" class="condition-checkbox" data-code="Ab"> Ab - Abutment</label><br>
                    <label><input type="checkbox" class="condition-checkbox" data-code="Att"> Att - Attachment</label><br>
                    <label><input type="checkbox" class="condition-checkbox" data-code="P"> P - Pontic</label><br>
                    <label><input type="checkbox" class="condition-checkbox" data-code="In"> In - Inlay</label><br>
                    <label><input type="checkbox" class="condition-checkbox" data-code="Imp"> Imp - Implant</label><br>
                    <label><input type="checkbox" class="condition-checkbox" data-code="S"> S - Sealants</label><br>
                    <label><input type="checkbox" class="condition-checkbox" data-code="Rm"> Rm - Removable dentures</label><br>
                </div>
            </div>
            <h3>Preview</h3>
            <p id="selectedConditions"></p>
            <div id="preview">
                  <text id="previewText" x="50" y="55" text-anchor="middle" dominant-baseline="middle"></text>
                </div>
            <div>
                 <svg viewBox="0 0 100 100" class="interactive-circle">
        <path class="segment" d="M50 50 L50 0 A50 50 0 0 1 100 50 z" ></path>
        <path class="segment" d="M50 50 L100 50 A50 50 0 0 1 50 100 z" ></path>
        <path class="segment" d="M50 50 L50 100 A50 50 0 0 1 0 50 z"></path>
        <path class="segment" d="M50 50 L0 50 A50 50 0 0 1 50 0 z"></path>
        <circle class="segment" cx="50" cy="50" r="20"></circle>
                </svg>
            </div>
            <button onclick="saveConditions()">Save</button>
        </div>
    </div>

    <script>
        let currentTooth = null;

        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tab");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        function openModal(toothElement, toothNumber) {
            currentTooth = toothElement;
            currentTooth.setAttribute('data-tooth-number', toothNumber);
            document.getElementById('conditionModal').style.display = 'block';
            updatePreview();
            loadConditions(toothNumber);
        }

        function closeModal() {
            document.getElementById('conditionModal').style.display = 'none';
        }

        function saveConditions() {
            const checkboxes = document.querySelectorAll('.condition-checkbox');
            let selectedCodes = [];
            checkboxes.forEach((checkbox) => {
                if (checkbox.checked) {
                    selectedCodes.push(checkbox.getAttribute('data-code'));
                }
            });
            const toothNumber = currentTooth.getAttribute('data-tooth-number');
            localStorage.setItem(`tooth_${toothNumber}_conditions`, selectedCodes.join(' '));
            closeModal();
        }

                function updatePreview() {
            const checkboxes = document.querySelectorAll('.condition-checkbox:checked');
            let selectedCodes = [];
            checkboxes.forEach((checkbox) => {
                selectedCodes.push(checkbox.getAttribute('data-code'));
            });
            const previewText = document.getElementById('previewText');
            previewText.textContent = selectedCodes.join(' ');
        }

        function loadConditions(toothNumber) {
            const conditions = localStorage.getItem(`tooth_${toothNumber}_conditions`);
            const checkboxes = document.querySelectorAll('.condition-checkbox');
            checkboxes.forEach((checkbox) => {
                checkbox.checked = conditions && conditions.includes(checkbox.getAttribute('data-code'));
            });
            updatePreview();
        }

        function load() {
            let button = document.querySelector("button");

             button.addEventListener("click", clickMe);
            }

            // Click Function to change the display value of the input
            function clickMe() {
                let input = document.getElementById("popup");

                 if (input.style.display == "none") {
                  input.style.display = "block";
                    } else {
                     input.style.display = "none";
                    }
            }
            document.querySelectorAll('.legend input[type="checkbox"]').forEach(checkbox => {
                checkbox.addEventListener('change', function () {
                    const checkedBoxes = document.querySelectorAll('.legend input[type="checkbox"]:checked');
                    const preview = document.getElementById('preview');

                    if (checkedBoxes.length > 4) {
                        this.checked = false;
                        return;
                    }
                });
            });

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('enter-diagnosis').style.display = 'block';
            const sidebar = document.getElementById('sidebar');
            const sidebarTab = document.getElementById('sidebarTab');
            const mainContent = document.querySelector('.main-content');

            sidebarTab.addEventListener('click', function () {
                sidebar.classList.toggle('show');
                mainContent.classList.toggle('shifted');
                sidebarTab.style.display = 'none';
            });

            document.addEventListener('click', function (event) {
                if (!sidebar.contains(event.target) && !sidebarTab.contains(event.target)) {
                    sidebar.classList.remove('show');
                    mainContent.classList.remove('shifted');
                    sidebarTab.style.display = 'block';
                }
            });

            // Dropdown functionality
            const dropdowns = document.querySelectorAll('.dropdown');
            dropdowns.forEach(dropdown => {
                const btn = dropdown.querySelector('.ellipsis-btn');
                const content = dropdown.querySelector('.dropdown-content');

                btn.addEventListener('click', function (event) {
                    event.stopPropagation();
                    content.classList.toggle('show');
                });

                document.addEventListener('click', function () {
                    content.classList.remove('show');
                });
            });
        });
    </script>
</body>
</html>
