<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='maintenance.css') }}">
    <style>
        body {
            background-color: #fffaf0;
            font-family: Arial, sans-serif;
        }
        .dropdown-content {
            display: none;
            background-color: #3a3f51;
            position: absolute;
            left: 250px;
            top: 0;
        }
        .button:hover{
            background-color: #D0C8BB;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }

        .maintenance-container {
            padding: 20px;
            background-color: #593C3C;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .maintenance-header {
            margin-bottom: 20px;
            color: #D0C8BB;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            justify-content: center;
            align-items: center;
        }
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 70%;
            max-width: 700px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            position: relative;
        }
        .modal-close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 28px;
            font-weight: bold;
            color: #aaa;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="sidebar-tab" id="toggleSidebar">☰</div>
    <div id="sidebar" class="sidebar">
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('users') }}">Users</a></li>
            <li><a href="{{ url_for('treatments') }}">Treatment</a></li>
            <li class="dropdown">
                <a href="#">Records</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('patients') }}">Patient Records</a>
                    <a href="{{ url_for('appointment_records') }}">Appointment Records</a>
                    <a href="{{ url_for('treatment_records') }}">Treatment Records</a>
                </div>
            </li>
            <li><a href="{{ url_for('maintenance') }}">Maintenance</a></li>
            <li><a href="{{ url_for('inventory') }}">Inventory</a></li>
            <li><a href="{{ url_for('reports') }}">Reports</a></li>
            <li><a href="{{ url_for('payments') }}">Payments</a></li>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <li><a href="{{ url_for('help') }}">Help</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="maintenance-container">
            <h2 class="maintenance-header">System Maintenance</h2>
            <button onclick="showBackupOptions()">Backup System</button>
            <button onclick="showRestoreOptions()">Restore System</button>
            <button onclick="viewUserLog()">View User Log</button>
        </div>
    </div>

    <!-- Backup Options Modal -->
    <div id="backupOptionsModal" class="modal">
        <div class="modal-content">
            <span class="modal-close" onclick="closeModal('backupOptionsModal')">&times;</span>
            <h2>Select Backup Location</h2>
            <label for="backupLocation">Enter folder path:</label>
            <input type="text" id="backupLocation" placeholder="C:/Users/YourUsername/Desktop">
            <button onclick="backupSystem()">Backup to Selected Folder</button>
            <button onclick="backupSystem('desktop')">Backup to Default Location (Desktop)</button>
        </div>
    </div>

    <!-- Backup Confirmation Modal -->
    <div id="backupConfirmationModal" class="modal">
        <div class="modal-content">
            <span class="modal-close" onclick="closeModal('backupConfirmationModal')">&times;</span>
            <h2>Confirm Backup</h2>
            <p>Are you sure you want to backup the system?</p>
            <button onclick="confirmBackup()">Yes</button>
            <button onclick="closeModal('backupConfirmationModal')">No</button>
        </div>
    </div>

    <!-- Backup Success Modal -->
    <div id="backupSuccessModal" class="modal">
        <div class="modal-content">
            <span class="modal-close" onclick="closeModal('backupSuccessModal')">&times;</span>
            <p id="backupSuccessMessage"></p>
        </div>
    </div>

    <!-- Restore Options Modal -->
    <div id="restoreOptionsModal" class="modal">
        <div class="modal-content">
            <span class="modal-close" onclick="closeModal('restoreOptionsModal')">&times;</span>
            <h2>Restore System</h2>
            <label for="restoreFile">Select backup file:</label>
            <input type="file" id="restoreFile">
            <button onclick="showRestoreConfirmation()">Next</button>
        </div>
    </div>

    <!-- Restore Confirmation Modal -->
    <div id="restoreConfirmationModal" class="modal">
        <div class="modal-content">
            <span class="modal-close" onclick="closeModal('restoreConfirmationModal')">&times;</span>
            <h2>Confirm Restore</h2>
            <p>Are you sure you want to restore the system? This action will overwrite current data.</p>
            <button onclick="confirmRestore()">Yes</button>
            <button onclick="closeModal('restoreConfirmationModal')">No</button>
        </div>
    </div>

    <!-- Restore Success Modal -->
    <div id="restoreSuccessModal" class="modal">
        <div class="modal-content">
            <span class="modal-close" onclick="closeModal('restoreSuccessModal')">&times;</span>
            <p id="restoreSuccessMessage"></p>
        </div>
    </div>

    <!-- User Log Modal -->
    <div id="userLogModal" class="modal">
        <div class="modal-content">
            <span class="modal-close" onclick="closeModal('userLogModal')">&times;</span>
            <h2>User Log</h2>
            <div id="userLogContent"></div>
        </div>
    </div>

    <script>
        let backupPath = '';

        function showBackupOptions() {
            document.getElementById('backupOptionsModal').style.display = 'block';
        }

        function backupSystem(location = '') {
            if (location === 'desktop') {
                backupPath = ''; // Use default path on server-side
                showConfirmationModal('backupConfirmationModal');
            } else {
                const inputPath = document.getElementById('backupLocation').value;
                if (inputPath) {
                    backupPath = inputPath;
                    showConfirmationModal('backupConfirmationModal');
                } else {
                    alert('Please enter a folder path for the backup.');
                }
            }
        }

        function showConfirmationModal(modalId) {
            closeModal('backupOptionsModal');
            document.getElementById(modalId).style.display = 'block';
        }

        function confirmBackup() {
            closeModal('backupConfirmationModal');
            fetch(`/backup_system?path=${encodeURIComponent(backupPath)}`)
                .then(response => response.json())
                .then(data => {
                    const successMessage = document.getElementById('backupSuccessMessage');
                    if (data.success) {
                        successMessage.innerHTML = `Backup successful: ${data.path}`;
                    } else {
                        successMessage.innerHTML = `Backup failed: ${data.error}`;
                    }
                    document.getElementById('backupSuccessModal').style.display = 'block';
                })
                .catch(error => {
                    const successMessage = document.getElementById('backupSuccessMessage');
                    successMessage.innerHTML = `Error: ${error}`;
                    document.getElementById('backupSuccessModal').style.display = 'block';
                });
        }

        function closeModal(modalId) {
            document.getElementById(modalId).style.display = 'none';
        }

        function showRestoreOptions() {
            document.getElementById('restoreOptionsModal').style.display = 'block';
        }

        function showRestoreConfirmation() {
            const restoreFile = document.getElementById('restoreFile').files[0];
            if (restoreFile) {
                closeModal('restoreOptionsModal');
                document.getElementById('restoreConfirmationModal').style.display = 'block';
            } else {
                alert('Please select a file to restore.');
            }
        }

        function confirmRestore() {
            const restoreFile = document.getElementById('restoreFile').files[0];
            const formData = new FormData();
            formData.append('restore_file', restoreFile);

            fetch('/restore_system', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const successMessage = document.getElementById('restoreSuccessMessage');
                if (data.success) {
                    successMessage.innerHTML = 'System restored successfully';
                } else {
                    successMessage.innerHTML = 'System restore failed: ' + data.error;
                }
                closeModal('restoreConfirmationModal');
                document.getElementById('restoreSuccessModal').style.display = 'block';
            })
            .catch(error => {
                const successMessage = document.getElementById('restoreSuccessMessage');
                successMessage.innerHTML = 'System restore failed: ' + error.message;
                closeModal('restoreConfirmationModal');
                document.getElementById('restoreSuccessModal').style.display = 'block';
            });
        }

        function viewUserLog() {
            fetch('/user_log')
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const logContent = data.logs.map(log => `<p>${log.timestamp}: ${log.activity}</p>`).join('');
                        document.getElementById('userLogContent').innerHTML = logContent;
                        document.getElementById('userLogModal').style.display = 'block';
                    } else {
                        alert('Failed to load user logs: ' + data.error);
                    }
                })
                .catch(error => {
                    alert('Failed to load user logs: ' + error.message);
                });
        }

        document.addEventListener('DOMContentLoaded', function () {
            const sidebar = document.getElementById('sidebar');
            const toggleSidebar = document.getElementById('toggleSidebar');
            const mainContent = document.querySelector('.main-content');

            toggleSidebar.addEventListener('click', function () {
                sidebar.classList.toggle('show');
                mainContent.classList.toggle('shifted');
                toggleSidebar.style.display = 'none';
            });

            sidebar.addEventListener('click', function () {
                sidebar.classList.remove('show');
                mainContent.classList.remove('shifted');
                toggleSidebar.style.display = 'block';
            });

            document.addEventListener('click', function (event) {
                if (!sidebar.contains(event.target) && !toggleSidebar.contains(event.target)) {
                    sidebar.classList.remove('show');
                    mainContent.classList.remove('shifted');
                    toggleSidebar.style.display = 'block';
                }
            });
        });
    </script>
</body>
</html>
